.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  display: flex;
  align-items: center;
  color: #ff9f00;
  margin: 0 25px;
}

.header_logo_image {
  margin-right: 10px;
}

.header_logo_title {
  text-decoration: none;
  border: 0;
  color: white;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin: 0 10px;
}

.header_search_input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_search_icon {
  padding: 5px;
  height: 22px !important;
  background-color: #ff9f00;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.nav_item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.nav_item_lineOne {
  font-size: 10px;
}

.nav_item_lineTwo {
  font-size: 13px;
  font-weight: 800;
}

.nav_item_basket {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 50px;
  margin-left: 10px;
}
.nav_item_icon {
  width: 28px;
}

.nav_item_basket {
  flex-direction: row;
}

.nav__basket_count {
  margin-left: 10px;
  margin-right: 10px;
}
